th, td {
    border: 1px solid black;
    padding: 0;
    margin: 0;
}
td{
	min-width: 50px;
	height: 50px;
	text-align: center;
}
th{
}
.surface{
	width:100%;
	border: 2px solid white;
	border-collapse: collapse;

}
.board{
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 padding-left: 25px;
	 padding-right: 25px;
	 order:2;
}
.left-player{
	display: flex;
	flex-direction: column;
	order: 1;
}
.right-player{
	display: flex;
	flex-direction: column;
	order: 3;
}
.left-player form input{
}
.right-player form input{
}
body{
	display: flex;
	justify-content: center;
}
.grid-btn{
	width: 100%;
	height: 100%;
	border: 0px;

}
.grid-btn:hover{
	background: #7F7FFF;
	color: white;
}
.active-player{
	background: #4CB7B7;
	color: #B74C4C;
}
i.left{
	color:#3333ff;
}
i.right{
	color: #FF3333;
}
form i.fa-caret-up{
	padding-left: 4px;
}
#p1{
	
}
#p2{
	visibility: hidden;
}